.masthead {
    height: 100vh;
    min-height: 500px;
    background-image: url('https://hdqwalls.com/download/blur-blue-gradient-cool-background-sp-1920x1080.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .main-title {
    text-decoration: underline;
    color: antiquewhite;
  }

  .lead {
    color: antiquewhite;
  }