<div class="container">
  <div class="row">
    <div class="col-sm">
      <markdown [data]="markdown"></markdown>
    </div>
    <div class="col-sm">
      <app-code-editor></app-code-editor>
      <button mdbBtn type="button" color="default" mdbWavesEffect>Execute the code!</button>
      <div class="form-group">
        <label for="exampleFormControlTextarea1" class="output-text">Output:</label>
        <textarea class="form-control rounded-0" id="exampleFormControlTextarea1" rows="10"></textarea>
      </div>
    </div>
  </div>
</div>